body {
    background-color: rgb(205, 226, 241);
}
h1{
    justify-content: center;
    display: flex;
    margin-top: 100px;
}
h2 {
    justify-content: center;
    display: flex;
}
h3 {
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

#searchButton {
    margin-top: 50px;
}

#sign-search {
    margin-top: 50px;
}