body {
    font-family: 'Tai Heritage Pro', serif;
    background-color: black;
}
h1{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    text-align: center;
    color: white;
}
h2 {
    justify-content: center;
    display: flex;
    color: white;
    text-align: center;
    padding: 30px;
}


input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    color: white;
}

#searchButton {
    margin-top: 50px;
    color: black;
    background-color: white;
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px rgb(235, 230, 230);
}
#searchButton:hover {
    background-color: rgb(207, 205, 205);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#sign-search {
    margin-top: 50px;
}

label {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
}
label:hover {
    transform: scale(1.5);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#sign-detail {
   text-align: center;
   color: white;
}
#scrollToTopBtn {
    background-color: white;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#scrollToTopBtn:hover {
background-color: rgb(207, 205, 205);
-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s;
}